.layout_container {
  height: 100%;

  .layout_aside {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    display: block;
    padding-bottom: 60px;
    overflow-x: hidden;
    border-right: 1px solid rgb(217, 217, 217);
    background-color: white;

    .toggle_collapse {
      position: absolute;
      bottom: 0;
      z-index: 99;
      display: flex;
      align-items: center;
      width: inherit;
      padding: 4px 0 4px 20px;
      overflow: hidden;
      border-top: 1px solid rgb(217, 217, 217);
      background-color: #fff;
      line-height: 48px;
      cursor: pointer;

      &:hover i {
        transform: scale(1.15);
      }

      i {
        color: #0051c3;
        font-size: 20px;
        transition: transform 0.15s ease-in-out;
      }

      span {
        font-size: 14px;
      }
    }
  }
}
