@import './iconfont.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.el-pagination {
  padding-bottom: 5px;
  overflow-x: auto;
}

.el-dialog {
  border-radius: 6px !important;
}

html[data-mobile='mobile'] .el-dialog {
  --el-dialog-width: 90% !important;
}

.iconfont {
  margin-right: 10px;
  font-size: 20px;
}

/*滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background-color: #595967;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* fade-transform */
.fade-transform--move,
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-leave-active {
  position: absolute;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}